table {
border-collapse: collapse;
width:70%; 
margin-left:15%; 
margin-right:15%;
    th {
        background-color: #8d9db6;
        border: black solid 1px;
        padding: 10px;
    }

    td {
        background-color: #f1e3dd;
        border: black solid 1px;
        padding: 10px;
    }

}
